* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* ----Colors----- */
  --int-orange: #f54e00;
  --cararra: #f7f7f4;
  --black: #26251e;

  /* ----Fonts---- */
  --inter: Inter, sans-serif;
}
html,
body {
  font-size: 10px;
  background-color: var(--black);
}
